:root {
  --color-gray-1: #111;
  --color-gray-2: #2d2d2d;
  --color-gray-3: #ccc;
  --color-gray-4: #f0f0f0;

  --color-accent: #0074d9;
  --color-green: #2ecc40;
  --color-red: #ff4136;

  --outline-focus: 0 0 0 2px white, 0 0 0 3px var(--color-accent);
  --letter-spacing: 0.02em;

  --control-size: 4.5em;
  --transition: 0.1s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-gray-1);
  color: var(--color-gray-1);
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin-bottom: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-accent);
}

p {
  font-size: 16px;
}

input {
  font-size: 1em;
  appearance: none;
  border: 1px solid var(--color-gray-1);
  height: 3em;
  display: block;
  padding: 0.5em;
  width: 100%;
}

input:hover,
select:hover {
  border-color: var(--color-accent);
}

input:disabled {
  background-color: var(--color-gray-4);
}

input:focus,
select:focus {
  box-shadow: var(--outline-focus);
  outline: none;
}

select {
  display: block;
  width: 100%;
  appearance: menulist-button;
  font-size: 1em;
  height: 3em;
  background-color: white;
  border-color: var(--color-gray-1);
  outline: none;
}

.Tooltip {
  background-color: var(--color-accent) !important;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.Tooltip::after {
  border-bottom-color: var(--color-accent) !important;
}

.Centered {
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}
