.ControlWrapper {
  position: relative;
  margin-bottom: 0.5em;
}

.Control,
a.Control,
a.PreviewControl.Dark {
  align-items: center;
  background-color: black;
  border-radius: var(--control-size);
  color: white;
  cursor: pointer;
  display: flex;
  height: 24px;
  height: var(--control-size);
  justify-content: center;
  padding: 0 1em;
  text-align: center;
  transition: var(--transition);
  width: var(--control-size);
  z-index: 1;
}

.Control:hover,
a.Control:hover,
a.PreviewControl.Dark:hover {
  box-shadow: 0 0 0 2px var(--color-accent);
}

a.PreviewControl {
  background-color: var(--color-gray-4);
  color: var(--color-gray-3);
}

a.PreviewControl:hover {
  color: var(--color-accent);
}

.Icon svg {
  position: relative;
  top: 2px;
}

.Badge {
  position: absolute;
  padding: 0.5em;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-accent);
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  border-radius: 3em;
  top: 50%;
  left: 0;
  z-index: 1;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
}
