.Control,
a.Control {
  cursor: pointer;
  height: 24px;
  background-color: black;
  height: var(--control-size);
  width: var(--control-size);
  text-align: center;
  padding: 0 1em;
  display: flex;
  align-items: center;
  border-radius: var(--control-size);
  transition: var(--transition);
  margin-bottom: 0.5em;
  align-items: center;
  justify-content: center;
  color: white;
}

.Control:hover,
a.Control:hover {
  box-shadow: 0 0 0 2px var(--color-accent);
}

.Icon {
  height: 24px;
  display: inline-block;
  color: inherit;
}

.PreviewControl {
  background-color: var(--color-gray-4);
}

.PreviewControl .Icon {
  color: var(--color-gray-3);
}

.PreviewControl:hover .Icon {
  color: var(--color-accent);
}
