.Controls {
  position: absolute;
  z-index: 1;
  right: 1em;
  top: 1em;
  bottom: 1em;
}

.ControlsTrigger {
  cursor: pointer;
  position: absolute;
  right: -1em;
  top: -1em;
  bottom: -1em;
  width: 5em;
}
