.ListItem {
  border: 1px solid var(--color-gray-3);
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  user-select: none;
  color: var(--color-gray-1);
}

.ListItem:hover,
.ListItem.Current {
  border-color: var(--color-accent);
}

.ListItem.Current {
  box-shadow: var(--outline-focus);
}

.ListItem .Badge {
  margin-right: 0.5em;
}
