.Modal {
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  width: var(--width-modal);
  z-index: 9999;
  overflow: auto;
  will-change: transform;
}

.ModalSection + .ModalSection {
  margin-top: 4em;
}

.ModalHeader {
  margin-bottom: 2em;
  position: relative;
}

.ModalClose {
  cursor: pointer;
  color: var(--color-gray-3);
  position: absolute;
  top: 1em;
  right: 1em;
}

.ModalClose:hover {
  color: var(--color-accent);
}

.ModalButton {
  margin: 2em 0 1em;
  display: block;
  width: 100%;
}

.Search {
  margin-bottom: 1em;
}

.ModalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  top: 0;
  left: 0;
}

.Underlay {
  transition: var(--transition);
  will-change: transform, opacity;
}

.Underlay.showModal {
  transform: scale(0.9);
  opacity: 0.2;
  box-shadow: 0 0 0 1px var(--color-gray-2);
}
