.Modal {
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  width: 520px;
  z-index: 9999;
  will-change: transform;
}

.ModalSection + .ModalSection {
  margin-top: 4em;
}

.ModalHeader {
  margin-bottom: 0.5em;
  position: relative;
}

.ModalStatus {
  will-change: transform;
  position: absolute;
  top: 50%;
  right: 0;
  color: var(--color-green);
}

.ModalButton {
  margin: 2em 0 1em;
  display: block;
  width: 100%;
}

.ModalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9998;
  top: 0;
  left: 0;
}

.Underlay {
  transition: var(--transition);
  will-change: transform, opacity;
}

.Underlay.showModal {
  transform: scale(0.9);
  opacity: 0.2;
}
