.PrototypeListHeader {
  margin-bottom: 1em;
}

.PrototypeItemTitle {
  margin-bottom: 0.5em;
}

.PrototypeItemActions {
  display: none;
}

.PrototypeItem:hover .PrototypeItemActions {
  display: block;
}
