.SampleDataGroup {
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid var(--color-gray-3);
}

.SampleDataGroupDelete {
  line-height: 3em;
  color: var(--color-red);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
